<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这是聊天室</h1>
<p style="color:blue" th:text="${roomid}" th:if="${not #strings.isEmpty(roomid)}"></p>
<a th:href="@{/user/logout}" th:action="@{/user/logout}">退出当前账号</a>
<a th:href="@{/user/goToUser}" th:action="@{/user/goToUser}">用户中心</a>
<a th:href="@{/chat/goChatUp}" th:action="@{/user/goChatUp}">往上翻翻</a>
<a th:href="@{/chat/goChatDown}" th:action="@{/user/goChatDown}">往下翻翻</a>
<a th:href="@{/room/showRoom}" th:action="@{/room/showRoom}">查看所有房间</a>
<p style="color:red" th:text="${chatLimitMsg}" th:if="${not #strings.isEmpty(chatLimitMsg)}"></p>
<div th:utext="${chatMsg}">[聊天记录未能成功显示]</div>
<form th:action="@{/chat/send}" method="post">
    <input name="chattext" type="text">
    <input type="submit" value="发送">
</form>
</body>
</html>