<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>这是用户界面</h1>
欢迎您，<div th:utext="${userName}">[用户名未能成功显示...]</div>
<div style="color:red" th:if="${not #strings.isEmpty(msg)}"></div>
<form th:action="@{/user/changeName}" method="post">
    <input name="username" type="text">
    <input type="submit" value="确认修改昵称">
</form>
<a th:href="@{/user/returnChatPage}" th:action="@{/user/returnChatPage}">返回聊天室</a>
<hr/>
<form th:action="@{/creatRoom/newRoom}" method="get">
    为你的新聊天室<input name="roomname" type="text">
    <input type="submit" value="创建新房间">
</form>
</body>
</html>