<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部文件配置-->
    <properties resource="dbconfig.properties"></properties>
    
    <!--设置项：name设置项名称，value设置项取值-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名处理器-->
    <typeAliases>
        <!--为某一个java类型起别名,type指定要起别名的全类名;默认类名小写;alias指定一个别名-->
        <typeAlias type="com.twip.mybatis.entity.Employee" alias="emp"/>
        <!--批量起别名，指定一个包-->
        <package name="com.twip.mybatis.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--填写已写好的sql映射文件-->
    <mappers>
        <mapper resource="mapper2.xml"/>
    </mappers>
</configuration>